$nav-color: rgba(#676f6b, .949);
$darker-grey-green: #565d5a;
$logo-color: #424c47;
$btn-border-color: #C1C3C1;
$title-color: #55605b;
$green-gradient: linear-gradient( /*92deg, */ rgb(222,255,210) /*100%*/,  rgb(93,176,138) /*0%*/);
$grey-fon: #F3F3F3;
$adv-item-title: #616e68;
$adv-item-text: #a4aca8;
$adv-item-number: rgba(66, 221, 149, 0.29);
$place-holder-color: #c2c2c2;
$swiper-green: #90D7BD;
